:root {
    --game-width: 450px;
}

body {
    font-family: calibri;
    font-size:17px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #060d17;
    color:#dbdee8;
}

#letter-area {
    display:flex;
    justify-content: center;
    max-width:var(--game-width);
}

#letter-btns {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    transform:translateX(10);
    gap:11px;
    margin: 20px 0px 50px 0px;
}

#letter-btns button {
    cursor:pointer;
    font-family:lucida console;
    font-size:14px;
    transform:translateX(4px);
}

#score-area {
    border-bottom:solid 1px #dbdee8;
    padding-bottom:15px;
    text-align:center;
    margin-bottom: 15px;
}

#score-area, #quote-area, #movie-area {
    min-width:var(--game-width);
}

#quote-area,
#movie-area {
    text-align: center;
}

#movie-area {
    font-size: 28px;
    font-family:lucida console, courier new;
    letter-spacing:5px;
    cursor:default;
}

#lives-remaining {
    font-weight: bold;
}

.guessed {
    opacity: 0.5;
    pointer-events: none;
}

#new-movie-btn {
    display:none;
}

@media only screen and (max-width:(480px)) {
    :root {
        --game-width: 100%;
    }
}