:root {
    --game-width: 450px;
    --accent-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: calibri;
    font-size:17px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #060d17;
    color:var(--accent-color);
}

#letter-area {
    display:flex;
    justify-content: center;
    max-width:var(--game-width);
    margin-top:25px;
}

#letter-btn-container {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    transform:translateX(10);
    gap:15px;
}

.letter-btn {
    font-family:lucida console;
    transform:translateX(4px);
}

#new-movie-btn {
    display:none;
    margin-top:25px;
}

.letter-btn, #new-movie-btn {
    background:none;
    color:var(--accent-color);
    border: solid 1px var(--accent-color);
    padding:5px 10px;
    font-family:lucida console;
    font-size:15px;
    cursor:pointer;
}

.letter-btn:hover, #new-movie-btn:hover {
    background-color:#151a35;
}

#score-area {
    border-bottom:solid 1px var(--accent-color);
    text-align:center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px 0px;
}

#score-area, #quote-area, #movie-area {
    min-width:var(--game-width);
}

#guesses-remaining {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:default;
}

#user-streak, #best-streak, #guesses-remaining {
    font-size: 32px;
}

#quote-area {
    margin:25px 0px;
}

#quote-area,
#movie-area {
    text-align: center;
}

#movie-area {
    font-size: 28px;
    font-family:lucida console, courier new;
    letter-spacing:5px;
    cursor:default;
}

#guesses-remaining {
    font-weight: bold;
}

.guessed {
    opacity: 0.5;
    pointer-events: none;
}

.correct {
    color:green;
    border-color:green;
}

.incorrect {
    color: red;
    border-color: red;
}

@media only screen and (max-width:(480px)) {
    :root {
        --game-width: 100%;
    }
}